# vs code files
.vscode/

# pycache
__pycache__/

# kenta's test files
passwords
test

# MacOS stuff
.DS_Store

# Virtualenv files
include/
lib/
bin/
.Python
pip-selfcheck.json

# CMPUT-275 submission
submission/
