<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Pigeon chat Sign Up page"/>
	<meta charset="utf-8">

	<title>Pigeon</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="authors" content="Danish Dua &amp; Kenta Tellambura">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='/stylesheets/home.css') }}" rel="stylesheet"/>

</head>

<body>

<div class="container">
    <div class="col-md-12" style="padding-top:60px; padding-bottom:20px;">
        <h1 class="col-md-12 text-center"><i class="fas fa-quote-left"></i>&nbsp;&nbsp;Pigeon</h1>
    </div>
    <form method="POST">
        <div class="form-group">
            <label>Username:</label>
            <input type="email" class="form-control bigger" name=username placeholder="Enter new username">
            <small class="form-text text-muted">Please enter a new email address</small>
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control bigger" name=password placeholder="Password">
        </div>
        <div class="form-group">
            <label>Confirm Password:</label>
            <input type="password" class="form-control bigger" name=confirm_password placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary bigger">Submit</button>
    </form>
</div>

</body>
</html>
