h1 {
    font-size: 400%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.bigger {
    font-size: 120%;
}
