.fixed {
    min-height: 500px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat {
    overflow: auto;
}

.right {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}

.panel-heading {
    margin-bottom: 10px;
}

#loadUp {
    float: right;
}
